.header{
  padding: 8px 0;

  &--green {
    background-color: var(--green_tertiary);
  }

  &--blue {
    background-color: #EBF0F9;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
  }

  &__nav {
    display: flex;
    align-items: center;

    margin-right: 40px;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    &:hover {
      color: var(--black);
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

}
