.journey {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 64px 96px;
    background-color: var(--black);

    border-radius: 12px;
  }

  &__left {
    max-width: 488px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__suptitle {
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
  }

  &__title {
    margin-bottom: 16px;

    @extend %heading_2;
    color: white;
  }

  &__subtitle {
    margin-bottom: 32px;

    @extend %paragraph;
    color: white;
    opacity: .6;
  }

  &__content {
    max-width: 294px;

    display: flex;
    justify-content: space-between;
  }

  &__item {
    span {
      display: block;
    }
  }

  &__number {
    font-size: 24px;
    font-weight: 500;
    color: white;
  }

  &__info {
    font-size: 12px;
    font-weight: 500;
    color: white;
    opacity: .6;
  }
}
